# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Prisma
src/database/prisma/migrations/

# Build
dist/
build/

# Coverage
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
temp/
